<html>
<head>
</head>
<body>
<pre>
                ##############
           ########        ########
        #####                    #####
      ####                          ####
    ####          ##     #            ####
   ###       #######    ####            ###
  ###     ###  ##      ##  ##            ###
 ###           ##  #  ##     ##           ###
 ###      ########## # ######  ##         ###
###            ##   #           ##         ###
###           #####  ##########            ###
###          #### ##        ##             ###
###         #  ##        #  #              ###
 ###      ##   ##     ## ##     ##        ###
 ###           ##   # ##  ##  #  ###      ###
  ###          ##  ## ##      ##         ###
   ###         ## ##   ########         ###
    ####       #                      ####
      ####                          ####
        #####                    #####
           ########        ########     TM
                ##############
</pre>
<form method="GET" action="/create" style="margin: 0px 0px 0px 140px">
	<input type="text" name="word" placeholder="稔" style="width:50;" />
	<input type="submit" />
</form>
</body>
</html>
